{{- /*
右サイドバー - デフォルト表示

このパーシャルは、個別ページテンプレートで sidebar ブロックが定義されていない場合に使用されます。
基本的なサイト情報や共通ウィジェットを表示します。
*/}}

{{- /* サイト概要セクション */}}

{{- /* タグクラウド */}}
{{- with site.Taxonomies.tags }}
  <section class="widget">
    <h3>Tags</h3>
    <ul class="tag-list">
      {{- range $name, $taxonomy := . }}
        <li>
          <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" class="tag-badge">
            {{ $name }} ({{ len $taxonomy }})
          </a>
        </li>
      {{- end }}
    </ul>
  </section>
{{- end }}

{{- /* 修正バージョン一覧 */}}
{{- with site.Taxonomies.fix_versions }}
  <section class="widget">
    <h3>Fix Versions</h3>
    <ul class="tag-list">
      {{- range $name, $taxonomy := . }}
        <li>
          <a href="{{ "/fix_versions/" | relLangURL }}{{ $name | urlize }}" class="tag-badge">
            {{ $name }} ({{ len $taxonomy }})
          </a>
        </li>
      {{- end }}
    </ul>
  </section>
{{- end }}

{{- /* 影響バージョン一覧 */}}
{{- with site.Taxonomies.affected_versions }}
  <section class="widget">
    <h3>Affected Versions</h3>
    <ul class="tag-list">
      {{- range $name, $taxonomy := . }}
        <li>
          <a href="{{ "/affected_versions/" | relLangURL }}{{ $name | urlize }}" class="tag-badge">
            {{ $name }} ({{ len $taxonomy }})
          </a>
        </li>
      {{- end }}
    </ul>
  </section>
{{- end }}
