{{ define "main" }}
  {{ $content := .Content }}
  {{ $main := replaceRE "(?s)<!-- PAGE_RIGHT_START -->(.*?)<!-- PAGE_RIGHT_END -->" "" $content }}
  <article>
	{{ $main | safeHTML }}
  </article>
{{ end }}


{{ define "sidebar" }}
  {{ $content := .Content }}
  {{ $right := "" }}
  {{ with findRE "(?s)<!-- PAGE_RIGHT_START -->(.*?)<!-- PAGE_RIGHT_END -->" $content }}
    {{ $right = index . 0 }}
    {{ $right = replaceRE "(?s)<!-- PAGE_RIGHT_START -->|<!-- PAGE_RIGHT_END -->" "" $right }}
  {{ end }}
  <aside class="page-right">
    {{ $right | safeHTML }}
  </aside>
{{ end }}
