{{ define "sidebar-left" }}
  {{ partialCached "sidebar-nav.html" . "global" }}
{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <section class="taxonomy-list">
    <table class="ticket-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        {{- range .Pages }}
          <tr>
            <td>
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </td>
            <td>{{ len .Pages }}</td>
          </tr>
        {{- end }}
      </tbody>
    </table>
  </section>
{{ end }}

{{ define "sidebar-right" }}{{ end }}
